.item {
  position: relative;
  overflow: hidden;

  &__poster {
    height: 24rem;
    width: 18rem;
    margin-right: 3rem;
    border-radius: .5rem;
  }

  &__button {
    position: absolute;
    top: -10%;
    left: 69%;
    background-color: whitesmoke;
    border: none;
    border-radius: 2rem;
    padding: .1rem;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &__icon {
      display: flex;
      align-items: center;
      height: 2.25rem;
      width: 2.25rem;
      fill: black;
    }
  }

  &:hover .item__button {
    transition: all .2s ease-in-out;
    top: 4%;
  }
}
