.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 3rem;

  &__trending {
    align-self: flex-start;
    font-family: "Noto Serif", sans-serif;
    font-size: 3.75rem;
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: 460px) {
      font-size: 3rem;
    }
  }

  &__movies {
    list-style: none;

    display: grid;
    grid-template-columns:  repeat(5, 18rem) ;
    grid-template-rows: repeat(4, min-content);

    @media only screen and (max-width: 1033px) {
      grid-template-columns: repeat(4, 18rem);
    }

    @media only screen and (max-width: 835px) {
      grid-template-columns: repeat(3, 17rem);
      grid-column-gap: 4rem;
    }

    @media only screen and (max-width: 625px) {
      grid-template-columns: repeat(3, 14.65rem);
      grid-column-gap: 3rem;
    }

    @media only screen and (max-width: 512px) {
      grid-template-columns: repeat(3, 14.65rem);
      grid-column-gap: 1rem;
    }

    @media only screen and (max-width: 460px) {
      grid-template-columns: repeat(3, 11.16rem);
      grid-column-gap: 2rem;
    }

    @media only screen and (max-width: 380px) {
      grid-template-columns: repeat(2, 11.16rem);
      grid-column-gap: 3rem;
    }


    grid-column-gap: 3rem;
    grid-row-gap: 3rem;

    &__noResults {
      color: #999;
      font-size: 2rem;
      font-weight: 500;
      margin-top: 3rem;
    }
  }
}