.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  margin-left: 9rem;


  &__trending {
    align-self: flex-start;
    font-family: "Noto Serif", sans-serif;
    font-size: 3.75rem;
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  &__movies {
    list-style: none;

    display: grid;
    grid-template-columns:  repeat(5, 18rem) ;
    grid-template-rows: repeat(4, min-content);

    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(4, 18rem);
    }

    @media only screen and (max-width: 966px) {
      grid-template-columns: repeat(3, 18rem);
    }

    @media only screen and (max-width: 600px) {
      grid-template-columns: repeat(2, 18rem);
    }

    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    justify-content: space-between;
    margin-right: 9rem;

    &__noResults {
      color: #999;
      font-size: 2rem;
      font-weight: 500;
      margin-top: 3rem;
    }
  }
}