.reviews {
  min-height: 30rem;
  padding: 3rem 3rem;

  &__header {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 3rem;

    &:before {
      content: '';
      display: inline-block;
      width: .5rem;
      height: 4rem;
      background-color: #62B6B7;
      margin-right: 1rem;
    }
  }

  // -------------------------- ICON ----------------------------
  &__star {
    width: 2.5rem;
    height: 2.5rem;
    fill: #FDCC0D;
    margin-right: .5rem;
    position: relative;
    bottom: .1rem;
  }

  &__button {
    border: none;
    background-color: transparent;

    &__close {
      width: 2rem;
      height: 2rem;
      fill: gray;
      margin-right: .5rem;
      cursor: pointer;
    }
  }
  // -------------------------- ICON ----------------------------

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    &__item {
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;
      padding: 2rem;
      border-radius: 1rem;
      background-color: #f4f2f2;

      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        height: 3rem;

        &__selfRating {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-bottom: 1rem;

          &__text {
            position: relative;
            bottom: .6rem;
          }
        }

        &__rating {
          display: flex;
          margin-bottom: 1rem;

          &__text {
            padding-top: .1rem;
          }
        }

        &__title {
          font-weight: 700;
          font-size: 2.25rem;
        }

        &__date {
          font-size: 1.6rem;
          color: #999;
        }
      }

      &__body {
        font-size: 1.4rem;
        color: #7a7575;

        &__text {
          margin-bottom: 1rem;
        }
      }
    }
  }

  &__form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;


    &__header {
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 3rem;


      &:before {
        content: '';
        display: inline-block;
        width: .5rem;
        height: 4rem;
        background-color: #62B6B7;
        margin-right: 1rem;
      }
    }


    &__group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1rem;
      margin-bottom: 1rem;


      &__label {
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: .5rem;
      }

      &__input {
        font-family: inherit;
        padding: 1rem;
        border-radius: 1rem;
        border: 1px solid #999;
        font-size: 1.6rem;
        max-height: 20rem;
        min-height: 3rem;
        max-width: 100%;
        min-width: 100%;
        resize: none;
      }
    }

    &__button {
      width: 100%;
      margin-top: 1rem;
      padding: 1rem;
      border-radius: 1rem;
      border: 1px solid #999;
      font-size: 2rem;
      cursor: pointer;
      background-color: #62B6B7;
      color: white;
    }
  }
}


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


/****** Style Star Rating Widget *****/

.rating {
  margin-top: 1rem;
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

/* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}