.movie {
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5));
    padding: 3rem 3rem;
    display: flex;
    flex-wrap: nowrap;
  }

  &__image {
    border-radius: 1rem;
    width: 30rem;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3rem;
    padding-right: 3rem;

    & > * {
      margin-bottom: 1rem;
    }

    &__title {
      color: white;
      font-size: 3rem;
      font-weight: 700;
    }

    &__overview {
      color: white;
    }

    &__button {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 22rem;
      cursor: pointer;
      border-radius: 5rem;
      border: 1px solid black;
      background: linear-gradient(to left, #FFE3E1 50%, #FF9494 50%);
      transition: background-position 0.5s ease;
      background-size: 200% 100%;
      margin-top: 1.5rem;
      user-select: none;

      &:disabled, &[disabled] {
        border: 1px solid black;
        background-color: transparent;
        color: black;
        pointer-events: none;
      }

      &__l {
        background-position: right;
      }

      &__r {
        background-position: left;
      }

      &__heart {
        fill: red;
        height: 2rem;
        width: 2rem;
        margin-left: 1rem;
        z-index: 10;
      }

      &__chevron {
        height: 2rem;
        width: 2rem;
        margin-left: 1.85rem;
        animation: slide 1s ease-in-out infinite;
      }

      &__text {
        cursor: pointer;
        border: none;
        padding: .65rem 1.5rem .65rem 4rem;
        margin-left: -3rem;
        font-weight: 550;
      }
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0);
  }
}


