// AUTH
.auth {
  background-image: url(../../public/spiderman.jpg);
  background-size: cover;

  display: flex;
  opacity: .9;
  height: 73.25rem;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  z-index: -1;

  &__container {
    display: flex;
    flex-direction: column;
    width: 45rem;
  }
}