$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  max-width: 120rem;
  margin: 0 auto;
  background-color: #CBEDD5;
}

.container {
  min-height: 100vh;
}
