.authSelect {
    display: flex;
    width: inherit;
    height: 15rem;

    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, .90);


    & > * {
        font-weight: 600;
        flex: 1;
        padding-top: .5rem;
        padding-bottom: 3px;
        border: none;
        cursor: pointer;

        &:not(.active):hover  {
            background-color: white;
        }
    }
}

.active {
    border-bottom: 3px solid #8ef8cc;
    padding-bottom: 0;
}

// AUTH
.auth {
    background-image: url(../../public/spiderman.jpg);
    background-size: cover;

    display: flex;
    opacity: .9;
    height: 73.25rem;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;


    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45rem;
        height: 30rem;
    }
}

.form {
    background-color: rgba(255, 255, 255, .90);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35rem;
    width: inherit;
    padding: 5rem 10rem 2rem 10rem;
    box-sizing: border-box;

    &__title {
        padding-bottom: 3rem;
        font-weight: 700;
        font-size: 3rem;
    }
}

.control {
    margin-bottom: 2rem;

    &__input {
        font-size: 2rem;
        padding: 1rem;
        border: none;
        border-bottom: 1px solid #000;
        background-color: transparent;
        width: 100%;
        text-align: center;
        font-weight: 700;
    }
}

