.footer {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

    display: flex;
    flex-direction: column;

    & > * {
        margin: .5rem 0;
    }

    &__a {
        text-decoration: underline;
        color: #01b4e4;
        margin: 1rem 0;
    }
}