// HEADER
.header {
  font-size: 1.4rem;
  background-color: #97DECE;
  border-bottom: darkblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px black solid;
  min-height: 6.5rem;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;

  @media only screen and (max-width: 966px) {
    flex-wrap: wrap;
    align-content: space-around;
  }
}

// LOGO
.logo {
  height: 5rem;
  margin-left: 3rem;


  @media only screen and (max-width: 1200px) {
    margin-top: .75rem;
    margin-bottom: .75rem;
    height: 4rem;
  }
}


.userNav {
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  z-index: 100;
  max-width: inherit;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: #62B6B7;
  }


  &__iconBox {
    position: relative;
    text-decoration: none;
    color: black;

    &__user {
      justify-content: center;

      &:hover .userNav__dropdown {
        display: block;
      }
    }
  }

  &__text {
    margin-left: .7rem;
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    justify-content: center;
  }

  &__button {
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 100;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__notification {
    font-size: 1.5rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: #ff5b5b;
    color: #fff;
    position: absolute;
    top: 1rem;
    left: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__dropdown {
    position: absolute;
    display: none;
    margin-top: 10.55rem;
    width: 11.3rem;
    background-color: #62B6B7;
    align-items: stretch;
    border-top: 1px solid black;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    overflow: hidden;
    animation: fadein .1s ease-in-out;

    @media only screen and (max-width: 600px) {
      margin-top: 9.85rem;
      width: 7rem;
    }


    &__a {
      display: flex;
      align-items: center;
      padding: 1rem;
      flex-direction: column;
      text-decoration: none;
      color: #000000;

      &:hover {
        background-color: #CBEDD5
      }
    }
  }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.active {
  background-color: #62B6B7;
}

